{% extends 'mainapp/base.html' %}
{% load static %}

{% block title%}
    <title>Main_page</title>
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
<!--                                                     => static/css/styles.css when "load static"-->
{% endblock %}

{% block content %}
    <h1 class="test">Main Page!</h1>
    {% if request.user.is_authenticated %}
        <h2>Hello, {{ request.user.username|title }}</h2>
    {% else %}
        <h2>Hello!</h2>
    {% endif %}
    <ul>
    {%  for item in array %}
        <li>element {{ item }}</li>
    {% endfor %}
    </ul>
{% endblock %}